@model Producto
@{
    ViewData["Title"] = "Detalle de productos";
}
<h1>@ViewData["Title"]</h1>

<p>Esta es la vista para detalle de productos</p>

<form method="post">
    <div class="mb-3">
        <label>Nombre</label>
        <input asp-for="Nombre" class="form-control" disabled>
    </div>
    <div class="mb-3">
        <label>Descripcion</label>
        <input asp-for="Descripcion" class="form-control"disabled>
    </div>
    <div class="mb-3">
        <label>Cantidad</label>
        <input asp-for="Cantidad" class="form-control" disabled>
    </div>
    <div class="row col-6">
        <div class="col-6" col-md-6>
            <a asp-action="Index" class="btn btn-outline-secondary">Regresar</a>
        </div>
    </div>


</form>
