@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Programacion IV</h1>
    <img src="https://geekstorming.files.wordpress.com/2019/12/7e49c-1mfohvi5b1xzkytxiaky7pq.png" />
     